<mat-tab-group>
    <mat-tab label="Đơn hàng"> 
        <div class="example-container">
            <mat-slide-toggle [checked]="themDonHang" (change)="changeDonHang()">Thêm mới</mat-slide-toggle>
            <mat-form-field *ngIf="themDonHang">
                <input matInput placeholder="Tên khách hàng">
            </mat-form-field>
            <mat-form-field *ngIf="themDonHang">
                <input matInput placeholder="Số ĐT">
            </mat-form-field>
            <mat-form-field *ngIf="themDonHang">
                <textarea matInput placeholder="Ghi chú"></textarea>
            </mat-form-field>
            <button mat-flat-button color="primary" *ngIf="themDonHang" (click)="addDonHang()">Thêm</button>
        </div>
        
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal data
                </mat-panel-title>
                <mat-panel-description>
                    Type your name and age
                </mat-panel-description>
                </mat-expansion-panel-header>
            
                <mat-form-field>
                <input matInput placeholder="First name">
                </mat-form-field>
            
                <mat-form-field>
                <input matInput placeholder="Age">
                </mat-form-field>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Self aware panel
                </mat-panel-title>
                <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-tab>
    <mat-tab label="Hàng hóa">
        <div class="example-container">
            <mat-slide-toggle [checked]="themHangHoa" (change)="changeHangHoa()">Thêm mới</mat-slide-toggle>
            <mat-form-field *ngIf="themHangHoa">
                <input matInput placeholder="Tên hàng hóa">
            </mat-form-field>
            <button mat-flat-button color="primary" *ngIf="themHangHoa" (click)="addHangHoa()">Thêm</button>
        </div>
        <table mat-table [dataSource]="listHangHoa" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
            <!-- Position Column -->
            <ng-container matColumnDef="mA_HH">
                <th mat-header-cell *matHeaderCellDef> Mã hàng hóa </th>
                <td mat-cell *matCellDef="let element"> {{element.mA_HH}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="teN_HH">
                <th mat-header-cell *matHeaderCellDef> Tên hàng hóa </th>
                <td mat-cell *matCellDef="let element"> {{element.teN_HH}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnHangHoa"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnHangHoa;"></tr>
        </table>
    </mat-tab>
    <mat-tab label="Loại đơn hàng"> 
        <div class="example-container">
            <mat-slide-toggle [checked]="themLoaiDonhang" (change)="changeLoaiDonHang()">Thêm mới</mat-slide-toggle>
            <mat-form-field *ngIf="themLoaiDonhang">
                <input matInput placeholder="Tên loại đơn hàng">
            </mat-form-field>
            <button mat-flat-button color="primary" *ngIf="themLoaiDonhang" (click)="addLoaDonHang()">Thêm</button>
        </div>
        <table mat-table [dataSource]="listLoaiDonHang" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
            <!-- Position Column -->
            <ng-container matColumnDef="teN_LDH">
                <th mat-header-cell *matHeaderCellDef> Tên loại đơn hàng </th>
                <td mat-cell *matCellDef="let element"> {{element.teN_LDH}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnLoaiDonhang"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnLoaiDonhang;"></tr>
        </table>
    </mat-tab>
</mat-tab-group>