<mat-tab-group>
    <mat-tab label="Hàng hóa">
        <div class="example-container">
            <button mat-raised-button color="primary" (click)="openModal('modal-add-edit-HangHoa');createAdd()"> 
                <i class="material-icons">add</i> Thêm
            </button>
        </div>
        <div><mat-progress-bar mode="indeterminate" *ngIf="load"></mat-progress-bar></div>
        <table mat-table [dataSource]="listHangHoa" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
            <!-- Position Column -->
            <ng-container matColumnDef="mA_HH">
                <th mat-header-cell *matHeaderCellDef> Mã hàng hóa </th>
                <td mat-cell *matCellDef="let item"> {{item.mA_HH}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="teN_HH">
                <th mat-header-cell *matHeaderCellDef> Tên hàng hóa </th>
                <td mat-cell *matCellDef="let item"> {{item.teN_HH}} </td>
            </ng-container>
            <ng-container matColumnDef="xx">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let item">
                    <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                        <i class="material-icons" (click)="openModal('modal-add-edit-HangHoa');createEdit(item.hanghoA_ID)">edit</i>
                    </button>
                    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                        <i class="material-icons" (click)="openModal('modal-del-HangHoa');createDel(item.hanghoA_ID,item.teN_HH)">delete_forever</i>
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnHangHoa"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnHangHoa;"></tr>
        </table>
    </mat-tab>
    <mat-tab label="Loại đơn hàng">
        <table mat-table [dataSource]="listLoaiDonHang" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
            <!-- Position Column -->
            <ng-container matColumnDef="teN_LDH">
                <th mat-header-cell *matHeaderCellDef> Tên loại đơn hàng </th>
                <td mat-cell *matCellDef="let item"> {{item.teN_LDH}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnLoaiDonhang"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnLoaiDonhang;"></tr>
        </table>
    </mat-tab>
</mat-tab-group>
    
<jw-modal id="modal-add-edit-HangHoa">
    <h1>{{stt}} hàng hóa!</h1>
    <!-- <button (click)="closeModal('custom-modal-2');">Close</button> -->
    <mat-form-field>
        <input matInput placeholder="Tên hàng hóa" [(ngModel)]="txtTenHH">
    </mat-form-field>
    <button mat-flat-button color="primary" *ngIf="stt=='Thêm'" (click)="closeModal('modal-add-edit-HangHoa');addHangHoa()">{{stt}}</button>
    <button mat-flat-button color="primary" *ngIf="stt=='Sửa'" (click)="closeModal('modal-add-edit-HangHoa');editHangHoa()">{{stt}}</button>
</jw-modal>

<jw-modal id="modal-del-HangHoa">
    <h1>Xóa {{txtTenHH}}?</h1>
    <button mat-flat-button color="primary" (click)="closeModal('modal-del-HangHoa')">Không đồng ý</button>
    <button mat-flat-button color="warn" (click)="closeModal('modal-del-HangHoa');delHangHoa()" style="margin-left: 5em">Đồng ý</button>
</jw-modal>