<mat-tab-group>
    <mat-tab label="Hàng hóa">
        <div class="example-container">
            <mat-slide-toggle [checked]="themHangHoa" (change)="changeHangHoa()">{{stt}}</mat-slide-toggle>
            <mat-form-field *ngIf="themHangHoa">
                <input matInput placeholder="Tên hàng hóa" [(ngModel)]="txtTenHH">
            </mat-form-field>
            <button mat-flat-button color="primary" *ngIf="themHangHoa && stt=='Thêm'" (click)="addHangHoa()">{{stt}}</button>
            <button mat-flat-button color="primary" *ngIf="themHangHoa && stt=='Sửa'" (click)="editHangHoa()">{{stt}}</button>
            {{kq}}
        </div>
        <table mat-table [dataSource]="listHangHoa" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
            <!-- Position Column -->
            <ng-container matColumnDef="mA_HH">
                <th mat-header-cell *matHeaderCellDef> Mã hàng hóa </th>
                <td mat-cell *matCellDef="let element"> {{element.mA_HH}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="teN_HH">
                <th mat-header-cell *matHeaderCellDef> Tên hàng hóa </th>
                <td mat-cell *matCellDef="let element"> {{element.teN_HH}} </td>
            </ng-container>
            <ng-container matColumnDef="xx">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                        <i class="material-icons" (click)="createedit(element.hanghoA_ID)">edit</i>
                    </button>
                    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                        <i class="material-icons" (click)=delHangHoa(element.hanghoA_ID)>delete_forever</i>
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnHangHoa"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnHangHoa;"></tr>
        </table>
    </mat-tab>
    <mat-tab label="Loại đơn hàng"> 
        <div class="example-container">
            <mat-slide-toggle [checked]="themLoaiDonhang" (change)="changeLoaiDonHang()">Thêm mới</mat-slide-toggle>
            <mat-form-field *ngIf="themLoaiDonhang">
                <input matInput placeholder="Tên loại đơn hàng">
            </mat-form-field>
            <button mat-flat-button color="primary" *ngIf="themLoaiDonhang" (click)="addLoaDonHang()">Thêm</button>
        </div>
        <table mat-table [dataSource]="listLoaiDonHang" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
            <!-- Position Column -->
            <ng-container matColumnDef="teN_LDH">
                <th mat-header-cell *matHeaderCellDef> Tên loại đơn hàng </th>
                <td mat-cell *matCellDef="let element"> {{element.teN_LDH}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnLoaiDonhang"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnLoaiDonhang;"></tr>
        </table>
    </mat-tab>
</mat-tab-group>