<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Bán hàng</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/DanhMucHangHoa/dmHangHoa.component.html"><mat-icon>category</mat-icon> Danh mục hàng hóa</a>
        <a mat-list-item routerLink="."><mat-icon>account_circle</mat-icon> Thông tin khách hàng</a>
        <a mat-list-item routerLink="."><mat-icon>input</mat-icon> Quản lý nhập hàng</a>
        <a mat-list-item routerLink="."><mat-icon>launch</mat-icon> Quản lý bán hàng</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <app></app>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>