/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}


/* EXAMPLE STYLES
-------------------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}
nav {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-right: 8px;
}
h1 {
  font-weight: normal;
  margin-top: 0;
}
input[type="text"] {
  display: block;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.credits {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  text-align: center;
}

/* MODAL STYLES
-------------------------------*/
jw-modal {
  /* modals are hidden by default */

  display: none;
}
jw-modal .jw-modal {
  /* modal container fixed across whole screen */

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index must be higher than .jw-modal-background */

  z-index: 1000;
  /* enables scrolling for tall modals */

  overflow: auto;
}
jw-modal .jw-modal .jw-modal-body {
  padding: 20px;
  background: #fff;
  /* margin exposes part of the modal background */

  margin: 40px;
}
jw-modal .jw-modal-background {
  /* modal background fixed across whole screen */

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* semi-transparent black  */

  background-color: #000;
  opacity: 0.75;
  /* z-index must be below .jw-modal and above everything else  */

  z-index: 900;
}
body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */

  overflow: hidden;
}


.evtSwipeButton{
  width: 20%;
  float: right;
  visibility: hidden;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}
.evtSwipeButtonL{
  visibility: visible !important;
  position: absolute;
  overflow: hidden;
  z-index: 100;
  right: 4%;
  margin-top: -3%;
}